<ng-container *ngIf="data$ | async as data">
    <div *ngIf="data.isLoading">

        <span>Loading...</span>

    </div>
<ng-container *ngIf="data.feedError">
    <app-error-message [message]="data.feedError"></app-error-message>
</ng-container>

    <div *ngIf="data.feedData">
        <div class="article-preview" *ngFor="let article of data.feedData.articles">
            <div class="article-meta">
                <a [routerLink]="['/profiles', article.author.username]">
                    <img [src]="article.author.image" [alt]="article.author.username">
                </a>
            </div>
            <div class="info">
                <a [routerLink]="['/profiles', article.author.username]">
                    {{article.author.username}}
                </a>
                <span class="date">{{article.createdAt}}</span>
            </div>
            <div class="pull-xs-right">
                ADD TO FAVORITES
            </div>
            <a [routerLink]="['/article',article.slug]" class="preview-link">
                <h1>
                    {{article.title}}
                    <p>{{article.description}}</p>
                    <span>Read More...</span>
                    <app-tag-list [tags]="article.tagList"></app-tag-list>
                </h1>
            </a>
        </div>
        <app-pagination [total]="data.feedData.articlesCount" [limit]="limit" [url]="baseUrl"
            [currentPage]="currentPage"></app-pagination>
    </div>
    </ng-container>