<ng-container *ngIf="data$|async as data">
    <div *ngIf="data.isLoading">

        <span>Loading...</span>

    </div>
    <ng-container *ngIf="data.error">
        <app-error-message [message]="(data.error).toString()"></app-error-message>
    </ng-container>

    <div class="sidebar" *ngIf="data.popularTags">
        <p>Pouplar Tags</p>
        <div class="tag-list">
            <a *ngFor="let popularTag of data.popularTags" [routerLink]="['/tag',popularTag]"
                class="tag-default tag-pill">
                {{popularTag}}
            </a>
        </div>

    </div>
</ng-container>