<ng-container *ngIf="(data$|async) as data">
    <div class="auth-page">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-xs-12">
                    <h1 class="text-xs-center">
                        Sign Up
                    </h1>
                    <p class="text-xs-center">
                        <a [routerLink]="['/login']"> Have an account ?</a>
                    </p>
                    <app-backend-error-messages *ngIf="data.backendErrors"
                        [backendErrors]="data.backendErrors"></app-backend-error-messages>
                    <form [formGroup]="form">
                        <fieldset class="form-group">
                            <input formControlName="username" type="text" class="form-control form-control-lg" placeholder="Username">
                    
                        </fieldset>
                        <fieldset class="form-group">
                            <input formControlName="email" type="text" class="form-control form-control-lg" placeholder="Email">
                    
                        </fieldset>
                        <fieldset class="form-group">
                            <input formControlName="password" type="password" class="form-control form-control-lg " placeholder="Password">
                    
                        </fieldset>
                        <button class="btn btn-lg btn-primary pull-xs-right" (click)="submitForm()" [disabled]="data.isSubmitting">Sign
                            Up</button>
                        </form>

                        </div>

                        </div>

                        </div>
                        
                        </div>
</ng-container>