<div class="editor-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xs-12">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <fieldset>
                        <fieldset class=" form-group">
                            <input type="text" class="form-control form-control-lg " placeholder="Article Title"
                                formControlName="title" id="">
                        </fieldset>
                        <fieldset class=" form-group">
                            <input type="text" class="form-control form-control-lg " placeholder="Write your Article"
                                formControlName="description" id="">
                        </fieldset>
                        <fieldset>
                            <textarea class=" form-group" rows="8 " class="form-control rform-control-lg "
                                placeholder="What is the article about" formControlName="body" id="">
                        </textarea>
                        </fieldset>


                        <fieldset class=" form-group">
                            <input type="text" class="form-control form-control-lg " placeholder="Enter Tags"
                                formControlName="tagList" id="">
                        </fieldset>
                        <fieldset>
                            <button type="submit" class="btn btn-lg pull-xs-right btn-primary"
                                [disabled]="form.invalid || isSubmitting">Publish Article</button>
                        </fieldset>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>