<ng-container *ngIf="user$|async as user">
    <div class="settings-page">
        <div class="container page">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-xs-12">
                    <h1 class="text-xs-center">Settings</h1>

                    <form [formGroup]="form" (ngSubmit)="submit()">

                        <fieldset>
                            <fieldset class="form-group">
                                <input type="text" class="form-control form-control-lg" formControlName="image"
                                    placeholder="URL of profile picture">
                            </fieldset>
                        </fieldset>
                        <fieldset>
                            <fieldset class="form-group">
                                <input type="text" class="form-control form-control-lg" formControlName="username"
                                    placeholder="user name">
                            </fieldset>
                        </fieldset>
                        <fieldset>
                            <fieldset class="form-group">
                                <textarea type="text" class="form-control form-control-lg" formControlName="bio"
                                    placeholder="short biograpghie about you"></textarea>
                            </fieldset>
                        </fieldset>
                        <fieldset>
                            <fieldset class="form-group">
                                <input type="text" class="form-control form-control-lg" formControlName="email"
                                    placeholder="email">
                            </fieldset>
                        </fieldset>

                        <button type="submit" class=" btn btn-lg btn-primary pull-xs-right">Update Profile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-container>