<ul class="pagination">
    <li *ngFor="let page of pages" class="page-item" [ngClass]="{'active': currentPage ===page}">
        <a [routerLink]="url" [queryParams]="{page :page}" class="page-link">{{page}}</a>
    </li>
</ul>