<ng-container *ngIf="data$| async as data">
    <nav class="navbar navbar-light">
        <div class="container">
            <a class="navbar-brand" routerLink="/">Medium</a>
            <ul class="nav navbar-nav pull-xs-right">
                <li class="nav-item">
                    <a routerLink="/" class="  nav-link ">Home</a>
                </li>
                <ng-container *ngIf="!!data.currntUser">
                    <li class="nav-item">
                        <a routerLink="/articles/new" class="nav-link"> <i class="ion-compose"></i> New Post</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/settings" class="nav-link"> <i class="ion-gear-a"></i> Settings</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/profiles',data.currntUser.username]" class="nav-link">
                            <img class="user-pic" [src]="data.currntUser.image"> {{data.currntUser.username}}
                        </a>
                    </li>
                </ng-container>
                <ng-container *ngIf="!data.currntUser">
                    <li class="nav-item">
                        <a routerLink="/login" class="nav-link"> Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/register" class="nav-link"> Register</a>
                    </li>

                </ng-container>

            </ul>
        </div>
    </nav>
</ng-container>