<div class="feed-toggle">
    <ul class="nav nav-pills outline-active">
        <li class="nav-item" *ngIf="currentUser$|async">
            <a [routerLink]="['/feed']" routerLinkActive="active" class="nav-link">
                Your Feed
            </a>

        </li>
        <li class="nav-item">
            <a [routerLink]="['/']" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{exact:true}"
                queryParamsHandling="merge">
                Global Feed
            </a>

        </li>
        <li class="nav-item" *ngIf="tagName">
            <a [routerLink]="['/tags',tagName]" routerLinkActive="active" class="nav-link">
                <i class="ion-pound"></i>
                {{tagName}}
            </a>

        </li>
    </ul>
</div>